rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{user_id} {
      allow read, create: if request.auth != null;
      allow update: if request.auth.uid == user_id;
    }
    match /projects/{project_id} {
      allow read, create, update: if request.auth != null;
      allow delete: if request.auth.uid == resource.data.createdBy.id;
    }
 }
}

// users collection
// 1. any authenticated user can read & create
// 2. only users who created a document can update it

// projects collection
// 1. any authenticated user can read, create & update a document (by commenting)
// 2. only users who created a document can delete it